# Use distribution Ubuntu 18.04 Bionic
dist: bionic

# Use python build environment.
language: python

python:
    - "3.6"

# Handle dependencies in separate directory.
before_install:
    - DEPS_DIR="${HOME}/deps"
    - mkdir -p "${DEPS_DIR}"
    - cd "${DEPS_DIR}"

# Install necessary packages.
install:
    # Install a recent version of the Protobuf
    - |
        PROTOBUF_URL="https://github.com/google/protobuf/releases/download/v3.2.0/protobuf-python-3.2.0.tar.gz"
        if [ ! -f ${DEPS_DIR}/protobuf/install/bin/protoc ] ; then mkdir -p protobuf ; travis_retry wget --no-check-certificate --quiet -O - ${PROTOBUF_URL} | tar --strip-components=1 -xz -C protobuf ; cd protobuf ; ./configure --prefix=${DEPS_DIR}/protobuf/install ; make ; make install ; fi
        export PATH=${DEPS_DIR}/protobuf/install/bin:${PATH}

    - sudo apt-get install python3-pip protobuf-compiler

# Change directory back to default build directory.
before_script:
    - cd "${TRAVIS_BUILD_DIR}"

# Run the build script
script:
    # Debug
    - which python
    - python -m site
    - protoc --version

    # Install osi-validation
    - cd open-simulation-interface
    - pip install .
    - cd ..
    - pip install .

    # Generate parsed rules
    - python rules2yml.py -d rules

    # Check if rule syntax in osi is correct
    # - python test_cases.py

    # Check rule correctness with unittests
    - python -m unittest discover tests

    # Show validator usage
    - osivalidator -h

    # Run validator on a small test with already existing rules
    - osivalidator data/small_test.osi.lzma
    - osivalidator data/small_test.osi.lzma -p
    - osivalidator data/small_test.txt.lzma -f separated
    - osivalidator data/small_test.txt.lzma -f separated -p

    # Run validator on a small test with parsed rules
    - osivalidator data/small_test.osi.lzma -r rules
    - osivalidator data/small_test.osi.lzma -p -r rules
    - osivalidator data/small_test.txt.lzma -f separated -r rules
    - osivalidator data/small_test.txt.lzma -f separated -p -r rules

    # Decompress both traces
    - lzma -d data/small_test.osi.lzma
    - lzma -d data/small_test.txt.lzma

    # Run the validator on decompressed data
    - osivalidator data/small_test.osi
    - osivalidator data/small_test.osi -p
    - osivalidator data/small_test.txt -f separated
    - osivalidator data/small_test.txt -f separated -p    

    # Run the validator on decompressed data with parsed rules
    - osivalidator data/small_test.osi -r rules
    - osivalidator data/small_test.osi -p -r rules
    - osivalidator data/small_test.txt -f separated -r rules
    - osivalidator data/small_test.txt -f separated -p -r rules
